@model IEnumerable<IdentiGo.Domain.Entity.Master.RiskLevel>

@{
    ViewBag.Title = "Niveles de Riesgo";
}

<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Ajustes <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
            <ul class="dropdown-menu drop-menu-right" role="menu">
                <li><a href="@Url.Action("Create")">Crear</a></li>
            </ul>
        </div>
        <h4 class="page-title">Niveles de Riesgo</h4>
        <ol class="breadcrumb">
            <li><a href="">Maestros</a></li>
            <li><a href="@Url.Action("Index")" class="active">Niveles de Riesgo</a></li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Registros</b></h4>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Level)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th width="120">
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Level)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td class="actions">
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="on-default edit-row"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="on-default" style="color:red"><i class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>