@model IdentiGo.Domain.Entity.General.Config

@{
    ViewBag.Title = "Configuraciones";
}

<div>
    <h4>Eliminar.</h4>
    <h5>Esta seguro que desea eliminar este registro?</h5>
    <div class="ln_solid"></div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumberQuestion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberQuestion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberQuestionValid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberQuestionValid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberIntentByDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberIntentByDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberIntentByDocumentTotal)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberIntentByDocumentTotal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayLokedDocument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayLokedDocument)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOutValidation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOutValidation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOutUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TimeOutUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
    </dl>
    <div class="ln_solid"></div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
