@model IdentiGo.Domain.Entity.General.Company

@{
    ViewBag.Title = "Empresas";
}

<div>
    <h4>Eliminar.</h4>
    <h5>Esta seguro que desea eliminar este registro?</h5>
    <div class="ln_solid"></div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <div class="ln_solid"></div>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Regresar al Listado", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>
